body{
    background-image:url("../img/consulta_callejero.jpg");
    background-size: 100% 100%;
}

table{
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 550px;
    font-family: Felix Titling;
    font-size: medium;
    background-color: white;
    border-spacing: 15px 15px;
}

a{
    color:white;
}