body{
    background-image:url("../img/modificar_institucion.jpg");
    background-size: 100% 100%;
}

#rectangle1{
    width:350px;
    height:400px;
    background-color:#36362C;
    border-radius: 50px ;
    margin-top: 50px;
    margin-left: 600px;
}

#rectangle2{
    width:350px;
    height:400px;
    background-color:#36362C;
    border-radius: 50px ;
    margin-top: -400px;
    margin-left: 980px;
}

input{
    margin-left: 30px;
    width: 300px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    margin-top: 50px;
}

label{
    color:white;
    font-family: Felix Titling;
    margin-left: 30px;
    position: absolute;
    margin-top: 10px;
    height: 15px;
}


#enviar_formulario{
    color:white;
    background-color: #825534;
    height: 30px;
    width: 150px;
    font-family: Felix Titling;
    border-radius: 50px;
    position: absolute; 
    left: 860px;
    top: 550px;
}

a{
    color:white;
}