body{
	background-image:url("../img/registro_adoptante.jpg");
    background-size: 100% 100%;
}

#rectangle{
    width:770px;
    height:400px;
    background-color:#36362C;
    border-radius: 50px ;
    margin-top: 70px;
    margin-left: 70px;
}

input{
    margin-left: 30px;
    width: 310px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    margin-top: 35px;
}

#nomAdop{
    margin-left: 30px;
    width: 650px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    margin-top: 35px;
}

label{
    color:white;
    font-family: Felix Titling;
    margin-left: 30px;
    position: absolute;
    margin-top: 10px;
    height: 15px;
}


#enviar_formulario{
    color:white;
    background-color: #825534;
    height: 30px;
    width: 150px;
    font-family: Felix Titling;
    border-radius: 50px;
    position: absolute; 
    left: 450px;
    top: 500px;
}

#btn_modificar_estatus{
    color:white;
    background-color: #825534;
    height: 30px;
    width: 160px;
    font-family: Felix Titling;
    border-radius: 50px;
    position: absolute; 
    left: 200px;
    top: 500px;
}

a{
    color:white;
}